# Database
DATABASE_URL="postgresql://user:pass@localhost:5436/payment_db?schema=public"

# App
PORT=3004
APP_NAME=payment-service
LOG_LEVEL=info

# Kafka
KAFKA_BROKERS=localhost:9096

# Payment Provider (SePay)
ONLINE_PAYMENT_QR_URL=https://img.vietqr.io/image/VCB-1026422235-qr_only.png
PAYMENT_WEBHOOK_SECRET=change-me
SEPAY_QUERY_URL=
SEPAY_WEBHOOK_SECRET=
SEPAY_IPN_API_KEY=
