NODE_ENV=development
PORT=3003
APP_NAME=table-service

# Database
DATABASE_URL="postgresql://user:pass@localhost:5435/table_db?schema=public"

# Kafka
KAFKA_BROKERS=localhost:9092

SEED_TABLES_ON_STARTUP=true
APP_BASE_URL=http://localhost:3000

LOG_LEVEL=info

