# Database
DATABASE_URL="postgresql://user:pass@localhost:5436/payment_db?schema=public"

# App
PORT=3004
APP_NAME=payment-service
LOG_LEVEL=info

# Kafka
KAFKA_BROKERS=localhost:9096

# Payment Providers (mock secrets)
VNPAY_SECRET_KEY=your_vnpay_secret
MOMO_SECRET_KEY=your_momo_secret
VNPAY_WEBHOOK_SECRET=your_vnpay_hmac_secret
MOMO_WEBHOOK_SECRET=your_momo_hmac_secret
