.gradle
build
node_modules
prisma
bin
docker-compose.yml
Dockerfile.spring
nest-cli.json
tsconfig.json
package.json
.env.example
TODO.md
src/common
src/config
src/kafka
src/modules
src/prisma
src/app.module.ts
src/main.ts
